.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}

#filter {margin-left: 4px;}

body {
  background-color: #fff;
}

@font-face {
    font-family: 'sofia_prolight';
    src: url('/fonts/sofiaPro/SofiaProLight-webfont.eot');
    src: url('/fonts/sofiaPro/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sofiaPro/SofiaProLight-webfont.woff2') format('woff2'),
         url('/fonts/sofiaPro/SofiaProLight-webfont.woff') format('woff'),
         url('/fonts/sofiaPro/SofiaProLight-webfont.ttf') format('truetype'),
         url('/fonts/sofiaPro/SofiaProLight-webfont.svg#sofia_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
 font-size: 100%;
 font-family: 'sofia_prolight';
}

#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: red;
}

#main-body {
  display: flex;
  flex: 1;
  background-color: green;
}

#main-content {
  flex: 1;
  background-color: blue;
}

.main-nav {
  flex: 0 0 200px;
  order: -1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.navHide {
  flex: 0 0 0px;
  background-color: red;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.button {
  cursor:pointer;
}

.element {
  height: 200px;
  position: relative;
  /*
  background-image:url('/img/thumb/bmw.jpg');
  background-size:cover;
  */
}

.element:hover .elementFade {
  opacity: 0;
}

.element.half {
  height: 150px;
}

.elementBanner {
  position: absolute;
  top: 50%;
  width:100%;
  height: 70px;
  margin-top: -35px;
  z-index:10;
}

.elementThumb {
  position:absolute;
  width:100%;
  height:100%;
}

.elementThumb img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.elementTitle {
  line-height: 35px;
  text-align: center;
  color: black;
  margin: 5px 0px 0px 0px;
  font-size: 2em;
  color: white;
}

.elementFade {
  z-index: 1;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0.5;
}

.elementTag {
  line-height: 25px;
  text-align: center;
  color: white;
  margin: 0px 0px 5px 0px;
  font-size: 1em;
}

.archived {
  position: relative;
  width: 100%;
  line-height: 5em;
  text-align: center;
}

.archivedElements {
  position:absolute;
  top: 100%;
}

