doctype html
html(ng-app="app")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/bootstrap.css")

    link(rel="stylesheet" href="/css/grid.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') TBA Pipe
          button.navbar-toggle(type='button', data-toggle='collapse', datatarget='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Jobs
            li
              a(href='/job') jobName
            li
              a(href='/assets') Assets
            li
              a(href='/shots') Shots
            li
              a(href='/tasks') Tasks

    .container
      div(ng-view)
        block content

    footer
      .row
        .col-xs-12
          small &copy; Mike Battcock 2016

    script(src='/angular/angular.js')
    script(src='/angular/angular-route.min.js')
    script(src='/angular/angular-route.min.js.map')
    script(src='/app.js')
    script(src='/home/home.controller.js')
    script(src='/js/jquery-1.12.1.min.js')

    script(src="/js/bootstrap.js")
 
   
